:host {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

h1 {
  align-self: center;
  margin-top: 2%;
}

ul {
  list-style: none;
}

mat-spinner {
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70%;
}

.min-padding {
  padding-left: 1%;
}
